*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
.swm
.idea
*.sw[nop]
/public/source_maps
solr/data
.zeus.sock*
zeus.json
/config/application.yml
.env
